RABBITMQ_DEFAULT_USER=''
RABBITMQ_DEFAULT_PASS=''

REDIS_PASS=''

MONGO_INITDB_ROOT_USERNAME=''
MONGO_INITDB_ROOT_PASSWORD=''

PGADMIN_DEFAULT_EMAIL=''
PGADMIN_DEFAULT_PASSWORD=''

MYSQL_ROOT_PASSWORD=''


CB_SERVER_NAME=''
CB_ADMIN_NAME=''
CB_ADMIN_PASSWORD=''
